body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

.interface {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
}

#gameArea, #settingsArea {
    margin-top: 50px;
}

#darkModeToggle:checked ~ body {
    background-color: #222;
    color: white;
}

#reaction {
    font-size: 30px;
    margin: 20px 0;
}